.searchBar{
    outline: none !important;
    background-color: #F2F2F2 !important;
    border: none;
    margin-left: 5px;
}
.searchBarForm{
    background-color: #F2F2F2;
}
.searchBar:focus{
    outline: none !important;
    border:none;
    background-color: #F2F2F2;
}
.custom-search{
    border: none !important;
}
.overlay{
    height: 440px !important;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.450),rgba(0, 0, 0, 0.600)) !important;
}
.background-text-home{
    position: relative;
    z-index: 2 !important;
}
.userName{
    font-weight: 600 !important;
    font-size: 18px !important;
}
#locationInput{
    outline:none !important;
     border: none !important;
     background-color: #fff;
}
.location-info{
    color: grey;
    margin-top: -5px;
}
.follow{
    background-color: #edeef0;
}
.leave-grp-btn{
 border-radius: 5px;
 display: flex;
 align-items: center;
 margin-left: 5px;
}
.d-hidden{
    display: none !important;
}
.bg-semigreen{
    background-color: #EFFFF4;
    color: #008A45;
    font-weight: 500;
}
#Filter{
    background-color: #edeef0;
}
@media (max-width:991px) {
    .mobile-modal-overlay{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        background-color: #fff;
        bottom: 0;
        z-index: 999;
    }
    .custom-bg-container,.overlay{
        aspect-ratio: 16/9 !important;
        height: 236px !important;
    }
    h3{
        font-size: 14px !important;
    }
    .userName{
        font-size: 13px !important;
    }
    .views{
        font-size: 12px !important;
    }
    h4{
        font-size: 16px !important;
    }
    .custom-justify-content-between{
        aspect-ratio: 16/9 !important;
        justify-content: space-between !important;
    }
}
@media (max-width:690px) {
    
    main{
        width: 100vw !important;
        align-items: center;
    }
    main div{
        max-width: 100vw !important;
    }
}